
body{
    margin: 0;
    

}

nav{
    height: 70px;
    width: 100%;
    position: relative;
    margin: auto;

}
.storename{
    padding-top: 10px;
    font-size: 3vw;
}


ul.name{
    padding-left: 0;
    width: 100%;
    display: flex;
    margin: auto;
    

}
.inner{

    margin-left: 20px;
    padding-top: 20px;
    position: relative;
  overflow: hidden;
  display: flex;
}

ul.name li{
    font-size: 40px;
    display:inline;
    
}
li a{
    
    font-size: 3vw;
    text-decoration: none;
    

}
.size{
   
    height: 70px;
    width: 100px;
}
.cart{
    height: 70px;
    width: 100px;
    

}


footer{
    background-color:blanchedalmond;
    width: 50px;
}

.foot li{

    display: inline;
    padding-right: 10px;
}

.foot a.foottext{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;

}

.storeimage{
    background-image: url("../IMAGES/store1.jpg");
    height: 300px;
    opacity: 1;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.bgimage1{
    background-image: url("../IMAGES/bg1.jpg");
    height: 480px;
    opacity: 0.3;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}

.bgimage2{
    background-image: url("../IMAGES/oneplus.jpg");
    height: 300px;
    opacity: 0.7;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bgimage3{
    background-image: url("../IMAGES/christmas.jpg");
    height: 300px;
    opacity: 1;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}


.caption{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;

}

.caption_store{
 
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
}

.caption_store span.border{
    color: rgb(5, 5, 4);
    padding: 18px;
    font-size: 40px;   
    letter-spacing: 5px;
}

.caption span.border{

    color: rgb(5, 5, 4);
    padding: 18px;
    font-size: 50px;   
    letter-spacing: 5px;
}
/*****************************/

.flex-container{
    padding: 0;
    margin:0;
    list-style: none;
    background: whitesmoke;
    

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.flex-item {
    background: white;
    width: 100px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    flex: 1 0 calc(33.333% - 20px);
}

.flex-item a:hover{
      background: whitesmoke;
}

.container{
      position: relative;
}

.container:hover .overlay{
      opacity: 1;
}

.overlay{ 
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .5s ease;
      background-color:whitesmoke;

}

.text{
    color: darkgrey;
    font-size: 50px;
    position: absolute;
    top: 25%;
    left: 25%;
    text-align: center;
}

.icons li{
    padding-right: 100px;
    display: inline;
    
}

.icons{
    position: relative;
}

.icons span.child{
    position: absolute;
    left: 30%;
    
}

ul.icons{
    padding-left:0;
    
    padding-top: 50px;
    height: 150px;
    background-color: whitesmoke;
    display: flex;
    margin: auto;
}


.wrap{
  width: 100px;
  height: 100px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.copyrights{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    padding-left: 50px;
}
